html,
body {
	margin: 0;
	padding: 0;

	background: var(--bg);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--bg: #E5E5E5;
	--primary: #7653FC;
	--primary-hover: #5d34ff;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--red: #FC836D;
	--font-family: 'Noto Sans KR', sans-serif;
	--grey-light: #EBEBEB;
}
